@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background: url('https://cdn.dribbble.com/users/156849/screenshots/6993098/32.gif');
    background-size: cover;
}

.container{
    position: absolute;
    background-color: #FAF1B3;
    top: 50%;
    left: 50%;

    width: 450px;
    height: 300px;

    margin-top: -150px;
    margin-left: -225px;

    padding: 20px;

    border-radius: 10px;
}

h1{
    text-align: center;
}

.inputan {
    width: 100%;
    display: inline-block;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 10px;
}

input[type=submit] {
    color: white;
    font-weight: bold;
    margin: 8px 0;
    width: 100%;
    padding: 12px 20px;
    background-color: #6691C4;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

input[type=submit]:hover {
    background-color: #3C699F;
}